<div class="container" id="i18_publications">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="publications.publications">Publications</span></h1>
            <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p> -->
        </div>
    </div>
   <div class="row">
    <div class="team-member wow zoomIn text-left">
	<table border="0" width="94%" cellspacing="3">
	<tr align="left">
	    <td width="4%" valign="top" class="auto-style4"><font size="4" face="Georgia">·</font></td>
	    <td width="94%" valign="top" class="auto-style4"> <font face="Georgia" size="3">
		<strong>Chunhai Feng</strong>, Sheheryar Arshad, Siwang Zhou, Dun Cao, Yonghe Liu.
	    "Wi-multi: A Three-phase System for Multiple Human Activity Recognition with Commercial WiFi Devices" , 
		    <i>IEEE Internet of Things Journal</i>, 2019.
	    
	</tr>
		    
        <tr align="left">
	    <td width="4%" valign="top" class="auto-style4"><font size="4" face="Georgia">·</font></td>
	    <td width="94%" valign="top" class="auto-style4"> <font face="Georgia" size="3">
		Sheheryar Arshad, <strong>Chunhai Feng</strong>, Ruiyun Yu, Liu Yonghe.
	    "Leveraging Transfer Learning in Multiple Human Activity Recognition Using WiFi Signal"
	    in <i>Proc. IEEE WoWMoM 2019</i>,
	</tr>
		    
	<tr align="left">
	    <td width="4%" valign="top" class="auto-style4"><font size="4" face="Georgia">·</font></td>
	    <td width="94%" valign="top" class="auto-style4"> <font face="Georgia" size="3">
		Dun Cao, Yonghe Liu, Xiaomin Ma, Jin Wang, Baofeng Ji, <strong>Chunhai Feng</strong>, and Jinxiu Si.
	    "A Relay-node Selection on Curve Road in Vehicular Networks" , 
		    <i>IEEE Access</i>, 2019.
	    
	</tr>
		    
	<tr align="left">
	    <td width="4%" valign="top" class="auto-style4"><font size="4" face="Georgia">·</font></td>
	    <td width="94%" valign="top" class="auto-style4"> <font face="Georgia" size="3">
		Dun Cao, Bin Zheng, Jin Wang, Baofeng Ji, and <strong>Chunhai Feng</strong>.
	    "Design and Analysis of a General Relay-Node Selection Mechanism on Intersection in Vehicular Networks" , 
		    <i>Sensors</i>, 2018.
	    
	</tr>
	<tr align="left">
	    <td width="4%" valign="top" class="auto-style4"><font size="4" face="Georgia">·</font></td>
	    <td width="94%" valign="top" class="auto-style4"> <font face="Georgia" size="3">
		Dun Cao, Bin Zheng, Baofeng Ji, Zhengbao Lei, and <strong>Chunhai Feng</strong>.
	    "A Robust Distance-Based Relay Selection for Message Dissemination in Vehicular Network" , 
		    <i>Wireless Networks</i>, 2018.
	    
	</tr>
	<tr align="left">
	    <td width="4%" valign="top" class="auto-style4"><font size="4" face="Georgia">·</font></td>
	    <td width="94%" valign="top" class="auto-style4"> <font face="Georgia" size="3">
		<strong>Chunhai Feng</strong>, Sheheryar Arshad, Ruiyun Yu, and Yonghe Liu.
	    "Evaluation and Improvement of Activity Detection Systems with Recurrent Neural Network" 
	    in <i>Proc. IEEE ICC 2018</i>, 
		Kansas City, MO, May 2018.
	</tr>
	<tr align="left">
	    <td width="4%" valign="top" class="auto-style4"><font size="4" face="Georgia">·</font></td>
	    <td width="94%" valign="top" class="auto-style4"> <font face="Georgia" size="3">
		Sheheryar Arshad, <strong>Chunhai Feng</strong>, Israel Elujide, Siwang Zhou, and Yonghe Liu.
	    "SafeDrive-Fi: A Multimodal and Device Free Dangerous Driving Recognition System Using WiFi"
	    in <i>Proc. IEEE ICC 2018</i>,
		Kansas City, MO, May 2018.
	</tr>
        <tr align="left">
	    <td width="4%" valign="top" class="auto-style4"><font size="4" face="Georgia">·</font></td>
	    <td width="94%" valign="top" class="auto-style4"> <font face="Georgia" size="3">
		<strong>Chunhai Feng</strong>, Sheheryar Arshad, and Yonghe Liu.
	    "Mais: Multiple activity identification system using channel state information of wifi signals."
	    in <i>Proc. Springer WASA 2017</i>,
		Guilin, China, June 2017.
	</tr>
        <tr align="left">
	    <td width="4%" valign="top" class="auto-style4"><font size="4" face="Georgia">·</font></td>
	    <td width="94%" valign="top" class="auto-style4"> <font face="Georgia" size="3">
		Sheheryar Arshad, <strong>Chunhai Feng</strong>, Yonghe Liu, Yupeng Hu, Ruiyun Yu, Siwang Zhou, and Heng Li.
	    "Wi-chase: A WiFi based human activity recognition system for sensorless environments."
	    in <i>Proc. IEEE WoWMoM 2017</i>,
		Macau, China, June 2017.
	</tr>
        <tr align="left">
	    <td width="4%" valign="top" class="auto-style4"><font size="4" face="Georgia">·</font></td>
	    <td width="94%" valign="top" class="auto-style4"> <font face="Georgia" size="3">
		<strong>Chunhai Feng</strong>, Ruhai Wang, Zhengguo Bian, Tyler Doiron, and Jianling Hu.
	    "Memory dynamics and transmission performance of bundle protocol (BP) in deep-space communications."
	    in <i>IEEE Transactions on Wireless communications</i>,
		2015.
	</tr>

	    </table></br>	
		
    </div>
		    </br>
    </div>

</div>
